body {
    background-color:rgb(143, 133, 233);
}
.uac{
    width: 130px;
    height: 130px;
    position: relative;
    left: 0px;
    object-position: top;
}
.eneam{
    width: 130px;
    height: 130px;
    position: relative;
}

#div{
    display: flex;
    justify-content: space-between;
}
#p1{
    position: relative;
    left: 0px;
}