h1 {
    color: rgb(95, 192, 16);
    background-color: antiquewhite;
    background-position: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(235, 168, 44);
    padding:10px;
}
.uac img{
    width: 100px;
    height: 100px;
    align:right;
}
.eneam img{
    width: 100px;
    height: 100px;
    align:left;
}