body{
    background-color:rgb(199, 155, 13);
}
.photo{
    width: 150px;
    height: 150px;
    position: relative;
}
h1 {
    color: rgb(2, 15, 134);
    background-position: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: rgb(137, 199, 22);
}
.uac img{
    width: 150px;
    height: 150px;
    align:right;
}
.eneam img{
    width: 150px;
    height: 150px;
    align:left;
}